<%-layout("/layout/boilerplate")%>
<body>
    <div class="row">
        <div class="col-8 offset-1">
            <h3>Create a new Listing</h3>
            <form method="POST" action="/listings" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]"  placeholder="Enter title" type="text" class="form-control" required>
                    <div class="invalid-feedback">Enter Valid title</div>
                    <div class="valid-feedback">Title looks gud!</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" type="text" class="form-control" required></textarea>
                    <div class="invalid-feedback">Enter Short Description</div>
                    <div class="valid-feedback">Description looks gud!</div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input name="listing[image]" placeholder="Enter image url/link" type="text" class="form-control">
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]"   placeholder="Enter price" class="form-control" required>
                        <div class="invalid-feedback">Enter valid price</div>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" placeholder="Enter country" type="text" class="form-control" required>
                        <div class="invalid-feedback">Enter valid Country</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]"  placeholder="Enter location" type="text" class="form-control" required>
                    <div class="invalid-feedback">Enter valid Location</div>
                </div>
                <button class="btn btn-dark add-btn">Submit</button>
            </form>
        </div>
    </div>
</body>